/* Styling */

/** {
  font-family: Georgia;
}*/

body {
  background: rgba(143, 58, 88, 0.2);
  margin: 100 100;
  padding: 0;
  width: 1200px
}

h1 {
  color: SlateGrey;
  font-family: Garamond;
  font-size: 100px;
  text-align: left;
  line-height: 140px;
  margin: 0;
}

p {
	font-size: 28px;
	font-family: GARAMOND;
	color: SlateGrey;
}

img {
    border: 1px solid #ddd;
    border-radius: 100%;
}

#page{ 
	margin: 30px 30px;
	text-align: left;
	font-size: 45px;
	color: SlateGrey;
	height: 280px;
}

#content{
	margin: 30px 30px;
	text-align: justify;
	padding: 20px;
	clear: both;
	background-color: White;
	font-size: 28px;
	font-family: GARAMOND;
	color: SlateGrey;
}

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 100%;
		color: black;
	}